
<footer class="footer">
  <div class="container">
    <div class="footer-logo-admin">
      <img class="logo-2" src="assets/logo.png" alt="Open Service Logo">
      <div class="links">
        <ul>
          <li><a (click)="irAdministracion()" style="cursor: pointer;">Administración</a></li>
        </ul>
      </div>
    </div>

    <div class="links">
      <h4>Empresa</h4>
      <ul>
        <li><a routerLink="/nosotros" href="#">Nosotros</a></li>
        <li><a routerLink="/clientes" href="#">Nuestros Clientes</a></li>
        <li><a routerLink="/terminos" href="#">Términos y Condiciones</a></li>
      </ul>
    </div>

    <div class="links">
      <h4>Servicios</h4>
      <ul>
        <li><a href="#">Refrigeración</a></li>
        <li><a href="#">Electricidad</a></li>
        <li><a href="#">Mantenimiento</a></li>
      </ul>
    </div>

    <div class="links">
      <h4>Síguenos</h4>
      <div class="socials">
        <a href="#">
          <div class="social"><img src="assets/s1.svg" alt="Facebook"></div>
        </a>
        <a href="#">
          <div class="social"><img src="assets/s2.svg" alt="Instagram"></div>
        </a>
        <a href="#">
          <div class="social"><img src="assets/s3.svg" alt="WhatsApp"></div>
        </a>
        
      </div>
    </div>

  </div>
</footer>