<header class="admin-header">
  <div class="page-title">
    <h1>Open service</h1>
    <span class="breadcrumb">{{ panelTitle }}</span>
  </div>

  <div class="header-right">
    <div class="time-display">
      <img src="assets/time_1.svg" alt="Hora" class="time-icon">
      <span class="time-value">{{ currentTime }}</span>
    </div>
    <a routerLink="/" class="visit-home">
      <img src="assets/home.svg" alt="Inicio" class="home-icon">
      <span>Ver Sitio</span>
    </a>
  </div>
</header>